{% extends "admin/base_site.html" %}
{% load i18n static jazzmin %}
{% get_jazzmin_ui_tweaks as jazzmin_ui %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block content_title %} {% trans 'Dashboard' %} {% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb float-sm-right">
        <li class="breadcrumb-item"><a href="{% url 'admin:index' %}"><i class="fa fa-tachometer-alt"></i> {% trans 'Home' %}</a></li>
        <li class="breadcrumb-item">{% trans 'Dashboard' %}</li>
    </ol>
{% endblock %}


{% block content %}
{% get_side_menu using="app_list" as dashboard_list %}
{% for app in dashboard_list %}
{% for model in app.models %}

{%if model.name == "Order" or model.name == "Users" or model.name == "Products"%}
<div class="card bg-secondary text-white">
    <div class="card-header">
        {{ model.name }}
    </div>
    <div class="card-body">
      <h5 class="card-title">Total {{ model.name }}</h5>
      
      <p class="card-text">{{ model.name|length}}</p>
      <a class="btn btn-primary" href="{{ model.url }}">{{ model.name }}</a>
      {% comment %} <a href="#" class="btn btn-primary">Go somewhere</a> {% endcomment %}
    </div>
  </div>
{%endif%}  
{%endfor%}
{%endfor%}
{%endblock%}